.productCardContainer {
    width: 100%;
    padding: 1rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--shadow);
    position: relative;
}
.productCardContainer img{
    width: 80%;
}
h3 {
    padding: .5rem;
    flex: 1;
    font-size: 20px;
}

h4 .span {
    text-decoration: line-through !important;
    color: gray;
    text-decoration-color: var(--black);
}

.discount {
    padding-left: 1rem;
    color: rgb(21, 245, 21);
}

.bag {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: .5rem;
    width: 90%;
    justify-content: center;
    border-radius: .5rem;
    border: none;
    color: var(--black);
    box-shadow: var(--shadow);
}

.bag:hover {
    background-color: rgb(65, 212, 65);
}

.fav {
    visibility: hidden;
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 30px !important;
    cursor: pointer;

}

.productCardContainer:hover .fav {
    visibility: visible;
    animation-name: fav;
    animation-duration: 1s;
}

@keyframes fav {
    0% {
        right: -4%
    }

    100% {
        right: 1%;
    }
}