.productsContainer{
    width: 100%;
    background-color: var(--white);
    color: var(--black);
}
.productsContainer>h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 2rem;
    letter-spacing: 2px;
}
.filter{
    height:4rem;
    background-color: var(--red);
    border-radius: 1rem;
    padding: 0 8rem;
    position: sticky;
    top: 5.03rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.filter h1{
    color: var(--white);
}
.button{
    padding: 3px 2rem;
    font-size: 25px;
    border: none;
    border-radius: 1rem;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}
.products{
    width: 100%;
    padding: 2rem 1rem ;
    display: grid;
    grid-template-columns: repeat(5,minmax(15rem,1fr));
    gap: 2rem 1rem;
}
.producting h1{
    padding: 3rem 0;
    text-align: center ;
}